<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="/css/shoppinglist.css">
  <!-- Favicon-->
  <link rel="icon" href="/img/shopping_cart_full.png" type="image/icon type">
  <title>Fancy Pantry</title>
</head>

<body>
  <div class="back"></div>
  <nav>
    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    <button class="no-button" id="logout">logout</button>
    {{else}}
    <a href="/login">login</a>
     <a href="/signup">signup</a>
    {{/if}}
  </nav>


  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>


  <!-- Render script for logged in users only -->
  <!--{{#if logged_in}}-->
  <!--<script src="/js/logout.js"></script>-->
  <!--{{/if}}-->

</body>

</html>